@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/*
Izmantotās krāsas
balts       F8F8F8
peleks      aabbcc
sarkans     DD0000
tumsi zils  062836
/* /////////////////////////////////////////////////////////////////// OVERALL /// */

p{
    color: #062837;
    font-size: 3vw;
    line-height: 3.5vw;
}
.teksta_atstarpe{
    line-height: 3.6vw;
    margin-top: 1vw;
}
.teksta_atstarpe::first-letter{
    margin-left: 4vw;
}
h1{
    color: #062837;
    font-size: 4vw;
    line-height: 4.5vw;

}
h3{
    color: #062837;
    font-size: 3vw;
    line-height: 3.5vw;
}
h2{
    color: #062837;
    font-size: 3vw;
    line-height: 3.5vw;
    margin: 2vw 0 -1.5vw 0;
}
a{
    color: #DD0000;
}
.Atstarpe_Auksa{
    display: block;
    margin-top: 4vw;
}
.Atstarpe_Apaksa{
    margin-bottom: 4vw;
}
a:hover{
    cursor: pointer;
}
.Nav ul li{
    font-size: 3vw;
}
.Vizualizesanai{
    width: 80%;
    margin: -5% 10% 100% 10%;
    max-height: 100px;
}
#chartContainer{
    margin-top: 5%;
    height: 300px;
    width: 100%;
}
.filtrs{
    margin-bottom: 4vw;
}

form .filtrs input{
    height: 4vw;
    font-size: 3vw;
    width: 10vw;
}
.filtrs select{
    width: 15vw;
    height: 5vw;
    font-size: 3vw;
    margin-right: 1vw;
}
.filtrs .Filtra_Nosaukums{
    width: 40vw;
}
.Otra_Rinda{
    display: block;
    margin-bottom: 1.25vw;
}
form .Otra_Rinda input{
    width: 30vw;
}
.Forma_Pilna{
    width: 100%;
}
.Smalks_Pilns .Zinojums_Poga{
    display: inline-block;
}
.Smalks_Pilns .Zinojums_Poga button{
    display: inline-block;
    background: none;
    border: 0;
    margin-left: 4vw;
    font-size: 2vw;
    color: #DD0000;
}
.Smalks_Pilns .Zinojums_Poga button:hover{
    cursor: pointer;
}
.AdminPogas{
    margin-left: 5vw;
}
.AdminPogas button:first-of-type{
    float: left;
}





body {
    background: #F8F8F8;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
}
.Atstarpe{
    height: 9vw;
}
.Atstarpe_Maza{
    height: 3vw;
}
.Saturs{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2vw;
    border: 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10vw;
}
.Saturs_Smalks{
    grid-template-columns: 1fr 1fr;
}
.Smalks_Pilns{
    grid-column: 1/3;
}
.Smalks_PilnsSaturs_1_5{
    width: 100%;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
}
.Smalks_Pilns_1_5{
    grid-column: 1/3;
}
.Smalks_1{
    grid-column: 1/3;
}
.Smalks_2{
    grid-column: 1/3;
}
.Smalks_3{
    grid-column: 1/3;
}
.Smalks_4{
    grid-column: 1/3;
}
.Smalks_5{
    grid-column: 5/6;
}
.Smalks_1_5{
    height: 40vw;
    background: red;
    grid-column: 1/5;
}
.Saturs div{
    min-height: 5vw;
    height: auto;
    width: 100%;
    height: 100%;
}
.Saturs .Vidus{
    grid-column: 1/2;
}
.Saturs .Vidus_Mazais{
    width: 100%;
    grid-column: 1/2;
}
.Saturs .blakus{
    grid-column: 1/2;
}
.Saturs .Attels{
    background: url(../images/sakuma_apraksts.png) no-repeat;
    background-size: contain;
    text-align: center;
    grid-column: 1/2;
    width: 100%;
    height: 60vw;
    margin-left: 15vw;
}
.apraksts{
    margin-top: 1vw;
}

/* /////////////////////////////////////////////////////////////////// Nav /// */

#Nav_Turetajs{
    background: #062836;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 6vw;
}
.Nav_Poga {
  display: none;
}
.Ievade_Paradit_Poga{
    width: 100%;
    display: block;
    margin-top: 2vw;
}
.Ievade_Paradit_Poga p{
    font-size: 3vw;
    padding: 2vw 0;
    color:#DD0000;
}
.Ievade_Paradit_Poga p:hover{
    cursor: pointer;
}
.Ievade_Paradit_Poga input, .Ievade_Paslepts{
    display: none;
}
.Ievade_Paradit_Poga span {
    display:block;
}
.Ievade_Paradit_Poga .Paradit_Poga:checked + span .Ievade_Paslepts{
    display: block;
}
.Logo{
    color: #F8F8F8;
    font-size: 3.3vw;
    padding-top: 1.6vw;
    line-height: 2vw;
}
#Nav_Turetajs label{
    position: absolute;
    padding: 2.5vw 1vw;
    top:0;
    left: 0;
    height: 1vw;
    width: 100%;
}

#Nav_Turetajs label span, #Nav_Turetajs label span::before, #Nav_Turetajs label span::after {
    display: block;
    background: #fefefe;
    height: 0.5vw;
    width: 5vw;
    border-radius: 0.3vw;
    position: relative;
}

#Nav_Turetajs label span::before,
#Nav_Turetajs label span::after {
    content: '';
    position: absolute;
}

#Nav_Turetajs label span::before {
    bottom: 1.2vw;
}

#Nav_Turetajs label span::after {
  top: 1.2vw;
}

.Nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

.Nav ul {
    background: #062836;
}

.Nav ul li {
    padding-bottom: 2vw;
    margin-left: 1vw;
    transition: opacity 150ms ease-in-out;
    opacity: 0;
}

.Nav a {
  color: #F8F8F8;
  font-size: 3vw;
}

.Nav a:hover, .Konts_Nav a:hover{
  color: #DD0000;
}
.Nav_Poga:checked ~ .Nav {
  transform: scale(1,1);
}

.Nav_Poga:checked ~ .Nav li {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.Nav .Nav_Izvelets{
    color: #DD0000;
}

/* /////////////////////////////////////////////////////////////////// Konts /// */
.Saturs .Konts_Nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 125%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1;
    background: #062836;
    margin-bottom: 4vw;
}
.Konts_Nav a{
    font-size: 3vw;
    color: #F8F8F8;
    padding: 2vw 4vw;
    float: left;
}
.Saturs .Konts_Nav ul .Lietotajs p{
    line-height: 4vw;
    font-size: 3vw;
    text-align: center;
    color: #fff;
}
.Konta_teksts h3{
    margin-bottom: 1vw;
}
.Konta_teksts p{
    line-height: 4vw;
}
.Projekts{
    grid-column: span 2;
    line-height: 2.5vw;
    margin-bottom: 4vw;
}
.Projekts button:hover{
    cursor: pointer;
}
.Pievienot_poga{
    grid-column: 1;
    grid-row: 2;
    z-index: 99;
}
.Pievienot_poga h3{
    color: #DD0000;
}

.konts_poga{
    font-size: 3vw;
    border: 0.3vw solid #aabbcc;
    border-radius: 1vw;
    line-height: 6vw;
    padding: 2vw 3vw;
    margin-right: 1vw;
    color: #062836;
}

.dalibnieks{
    margin-top: 3vw;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
}
.dalibnieks_poga{
    color: red;
}
.Konts_Izvelets{
    color: #DD0000;
}
.Konts_lietotaji{
    
}
.Konts_lietotaji:nth-child(odd){
    height: 1.2vw;
    padding: 0.8vw 0;
    border-bottom: 0.2vw solid #aabbcc;
}
.Konts_lietotaji:nth-child(even){
    margin-top: -2.2vw;
    float: right;
}
.Konts_lietotaji:nth-child(even) a{
    padding: 0 1.5vw;
}

.dalibnieks .poga_blakus{
    margin: 1vw 1vw 0 0;
    float: left;
}
.Smalks_Pilns_1_5 .Atcelt_Poga{
    padding: 1vw 2vw 2vw 0;
    font-size: 3.3vw ;
}
.Jauna_Rinda{
    display: block;
    clear: both;
}
.Dzest_Filtru{
    width: 7vw;
    height: 7vw;
    margin: 0vw 0 0 2vw;
    border: 0;
    border-radius: 1.5vw;
    background: #062836;
    color: #DD0000;
    font-size: 4vw;
}
.Dzest_Filtru:hover{
    cursor: pointer;
}
/*.Ievade_Paradit_Poga .Ievade_Paslepts{
    display: none;
}
/* /////////////////////////////////////////////////////////////////// REGISTER /// */
.Ievade_Ievads{
    font-size: 3vw;
    padding-left: 2vw;
    width: calc(100% - 2vw);
    height: 5vw;
    margin-top: 3vw;
    background: none;
    border: 0.3vw solid #aabbcc;
}
.Ievade_Gars{
    height: 30vw;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 3vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 3vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 3vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 3vw;
}
.Ievade_Poga{
    display: block;
    width: 100%;
    height: 6vw;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: bold;
    color: #494d59;
    background: none;
    border: 0.3vw solid #aabbcc;
    border-radius: 1vw;
    cursor: pointer;
}
.kluda{
    margin-top: 1vw;
    color: #DD0000;
}


@media screen and (min-width: 1100px) { /* ////////////////////////// min-width 1100px /// */
    
    
    
    
/* /////////////////////////////////////////////////////////////////// OVERALL /// */
p{
    font-size: 1.3vw;
    line-height: 1.5vw;
}
.teksta_atstarpe{
    line-height: 1.8vw;
    margin-top: 5vw;
}
.teksta_atstarpe::first-letter{
    margin-left: 2vw;
}
h1{
    font-size: 2vw;
    line-height: 3vw;
}
h3{
    font-size: 1.5vw;
    line-height: 2vw;
}
h2{
    font-size: 1.5vw;
    line-height: 2vw;
}
.Atstarpe{
    height: 8vw;
}
.Atstarpe_Maza{
    height: 6vw;
}
.Smalks_Pilns{
    grid-column: 1/6;
    
}
.Projekts_Izstiepts:nth-child(odd){
    margin-left: 5vw;
    width: calc(100% + 5vw);
}
.Projekts_Izstiepts:nth-child(even){
    grid-column: 4/6;
    margin-right: 5vw;
    width: calc(100% + 5vw);
}  
.Saturs .Projekts_Izstiepts button{
    padding: 0vw 1.5vw;
} 

#chartContainer{
    height: 500px;
}
.filtrs{
    margin-bottom: 0;
}
form .filtrs input{
    width: 6vw;
    height: 1.6vw;
    font-size: 1.5vw;
}
form .filtrs select{
    width: 10vw;
    height: 2.2vw;
    font-size: 1.5vw;
    margin-bottom: 2vw;
} 
.Otra_Rinda{
    display: inline-block;
}
form .Otra_Rinda input{
    width: 15vw;
}
.Vizualizesanai{
    margin-bottom: 65%;
}  
.Smalks_Pilns .Zinojums_Poga button{
    margin-left: 2vw;
    font-size: 1vw;
}
.AdminPogas{
    margin-left: 20vw;
}

    

    
    
.Saturs{
    grid-template-columns: 3fr 2fr;
}
.Saturs_Smalks{
    grid-template-columns: repeat(4,1fr) 1.1fr;
}
.Smalks_PilnsSaturs_1_5{
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/5;
}
.Smalks_Pilns_1_5{
    grid-column: 1/5;
}
.Saturs .Vidus{
    grid-column: 1/3;
}
.Saturs .Attels{
    margin-left: 0;
    width: 30vw;
    height: 30vw;
    grid-column: 2/3;
}
.Saturs .blakus{
    grid-column: 1/2;
}
.Saturs .Vidus_Mazais{
    width: 80%;
    grid-column: 1/3;
}
/* /////////////////////////////////////////////////////////////////// Nav /// */
#Nav_Turetajs label {
    display: none;
}

#Nav_Turetajs {
    height: 5vw;
    display: grid;
    grid-template-columns: 0.6fr 1.6fr 2.6fr 0.6fr;
}
  
.Logo{
    text-align: left;
    font-size: 1.8vw;
    padding-top: 1.2vw;
    line-height: 2.5vw;
    grid-column: 2 / 3;
}
.Nav{
    position: relative;
    transition: none;
    transform: scale(1,1);
    top: initial;
    left: initial;
    grid-column: 3 / 4;
}

.Nav ul {
    margin-top: 0.7vw;
    display: flex;
    justify-content: flex-end;
}
.Nav ul li {
    height: 3vw;
    margin-left: 4vw;
    padding-bottom: 0;
    padding-top: 0.6vw;
    line-height: 2vw;
    font-size: 1.8vw;
    opacity: 1;
}
.Ievade_Paradit_Poga p{
    font-size: 1.6vw;
    padding: 1vw 0;
}
/* /////////////////////////////////////////////////////////////////// Konts /// */
.Saturs .Konts_Nav{
    text-align: right;
    height: 100%;
    grid-row: 1 / 3;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    grid-column: 5/6;
}
.Konts_Nav a{
    width: 90%;
    line-height: 4vw;
    margin: 0;
    font-size: 1.6vw;
    padding: 0;
}
.Saturs .Konts_Nav ul .Lietotajs p{
    line-height: 4vw;
    font-size: 1.6vw;
}
.Konta_teksts p{
    line-height: 1.8vw;
}
.Pievienot_poga{
    grid-row: 1;
    grid-column: 1/5;
    align-self: start;
}
.Projekts{
    margin-bottom: 0vw;
}
.konts_poga{
    font-size: 1.3vw;
    border: 0.2vw solid #aabbcc;
    padding: 1vw 1vw;
    margin-right: 2vw;
    line-height: 4vw;
}

.dalibnieks{
    margin-top: 8vw;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
form .Saura_Poga{
    width: 42%;
    float: left;
}
form .Saura_Poga:nth-child(even){
    float: right;
}
.Smalks_Pilns_1_5 .Atcelt_Poga{
    padding: 1vw 2vw 2vw 0;
    font-size: 2.2vw ;
}
.Dzest_Filtru{
    width: 3.6vw;
    height: 3.6vw;
    margin: 0vw 0 0 -1vw;
    border-radius: 0.8vw;
    font-size: 2vw;
}
/* /////////////////////////////////////////////////////////////////// REGISTER /// */

.Ievade_Ievads{
    width: calc(100% - 1.5vw);
    font-size: 2vw;
    padding-left: 1vw;
    height: 3vw;
    margin-top: 2vw;
    
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 2vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 2vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 2vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 2vw;
}
.Ievade_Poga{
    height: 4vw;
    margin-top: 2vw;
    font-size: 2vw;
}

.Ievade_Gars{
    height: 20vw;
}
    
}
@media screen and (min-width: 1600px) { /* ////////////////////////// min-width 1600px /// */
    
    
    
    
/* /////////////////////////////////////////////////////////////////// OVERALL /// */
p{
    font-size: 1vw;
    line-height: 1.2vw;
}
.teksta_atstarpe{
    line-height: 1.5vw;
    margin-top: 5vw;
}
h1{
    font-size: 1.6vw;
    line-height: 2vw;
}
h3{
    font-size: 1.2vw;
    line-height: 1.5vw;
}
h2{
    font-size: 1.2vw;
    line-height: 1.5vw;
}
.Smalks_Pilns .Zinojums_Poga button{
    margin-left: 2vw;
    font-size: 0.8vw;
}
    
    
    
.Saturs .Vidus_Mazais{
    width: 70%;
}
.Atstarpe{
    height: 7vw;
}
.Vizualizesanai{
    margin-bottom: 60%;
}
#chartContainer{
    height: 600px;
}

/* /////////////////////////////////////////////////////////////////// Nav /// */
   
#Nav_Turetajs {
    height: 4vw;
}
.Logo{
    padding-top: 0.7vw;
    font-size: 1.2vw;
}
.Nav{
    height: 4vw;
}
.Nav a li{
    height: 2vw;
    line-height: 1vw;
    font-size: 1.2vw;
    padding-bottom: 0;
}
/* /////////////////////////////////////////////////////////////////// Konts /// */
.Saturs .Konts_Nav{
    padding: 0;
}
.Konts_Nav a, .Saturs .Konts_Nav ul .Lietotajs p{
    line-height: 3vw;
    font-size: 1.2vw;
}
.Konta_teksts p{
    line-height: 1.6vw;
}
.konts_poga{
    font-size: 1vw;
    line-height: 3vw;
    border: 0.2vw solid #aabbcc;
    padding: 0.8vw 1.5vw;
    margin-right: 2vw;
}

.Smalks_Pilns_1_5 .Atcelt_Poga{
    padding: 1vw 2vw 2vw 0;
    font-size: 1.8vw ;
}
.Dzest_Filtru{
    width: 3vw;
    height: 3vw;
    margin: 0vw 0 0 -0.5vw;
    border-radius: 0.7vw;
    font-size: 1.8vw;
}
/* /////////////////////////////////////////////////////////////////// REGISTER /// */

.Ievade_Ievads{
    font-size: 1.5vw;
    padding-left: 1vw;
    height: 2.5vw;
    margin-top: 2vw;
    
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.5vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.5vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.5vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1.5vw;
}
.Ievade_Poga{
    height: 3.5vw;
    margin-top: 2vw;
    font-size: 1.5vw;
}  
.Ievade_Gars{
    height: 20vw;
}
    
    
    
    
    
    
}