@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


/* /////////////////////////////////////////////////////////////////// OVERALL /// */

p{
    color: #062837;
    font-size: 3vw;
    line-height: 3.5vw;
}
h1{
    color: #062837;
    font-size: 4vw;
    line-height: 4.5vw;

}
h3{
    color: #062837;
    font-size: 3vw;
    line-height: 3.5vw;
}
a{
    color: #DD0000;
}
.Atstarpe_Auksa{
    display: block;
    margin-top: 4vw;
}
a:hover{
    cursor: pointer;
}
.Nav ul li{
    font-size: 3vw;
}





body {
    background: #F8F8F8;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
}
#Atstarpe{
    height: 6vw;
}
.Saturs{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2vw;
    border: 0;
    width: 80%;
    margin: 0 auto;
}
.Saturs_Smalks{
    grid-template-columns: 1fr 1fr;
}
.Smalks_Pilns{
    grid-column: 1/3;
    
}
.Smalks_Pilns:first-child{
    margin-top: 6vw;
}
.Saturs_Smalks div{
    
}
.Saturs div{
    min-height: 5vw;
    height: auto;
    width: 100%;
    height: 100%;
}
.Saturs .Vidus{
    grid-column: 1/2;
}
.Saturs .Vidus_Mazais{
    width: 100%;
    grid-column: 1/2;
}
.Saturs .blakus{
    grid-column: 1/2;
}
.Attels{
    text-align: center;
    background: #aabbcc;
    grid-column: 1/2;
    height: 10vw;
}
.apraksts{
    margin-top: 1vw;
}

/* /////////////////////////////////////////////////////////////////// Nav /// */

#Nav_Turetajs{
    background: #062836;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 6vw;
}
.Nav_Poga {
  display: none;
}
.Logo{
    color: #F8F8F8;
    font-size: 3.3vw;
    padding-top: 1.6vw;
    line-height: 2vw;
}
#Nav_Turetajs label{
    position: absolute;
    padding: 2.5vw 1vw;
    top:0;
    left: 0;
    height: 1vw;
    width: 100%;
}

#Nav_Turetajs label span, #Nav_Turetajs label span::before, #Nav_Turetajs label span::after {
    display: block;
    background: #fefefe;
    height: 0.5vw;
    width: 5vw;
    border-radius: 0.3vw;
    position: relative;
}

#Nav_Turetajs label span::before,
#Nav_Turetajs label span::after {
    content: '';
    position: absolute;
}

#Nav_Turetajs label span::before {
    bottom: 1.2vw;
}

#Nav_Turetajs label span::after {
  top: 1.2vw;
}

.Nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

.Nav ul {
    background: #062836;
    list-style: none;
}

.Nav ul li {
    padding-bottom: 2vw;
    margin-left: 1vw;
    transition: opacity 150ms ease-in-out;
    opacity: 0;
}

.Nav a {
  color: #F8F8F8;
  font-size: 3vw;
}

.Nav a:hover {
  color: #DD0000;
}

.Nav_Poga:checked ~ .Nav {
  transform: scale(1,1);
}

.Nav_Poga:checked ~ .Nav li {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


/* /////////////////////////////////////////////////////////////////// PROJEKTI /// */



/* /////////////////////////////////////////////////////////////////// REGISTER /// */
.Ievade_Ievads{
    font-size: 3vw;
    padding-left: 2vw;
    display: block;
    width: calc(100% - 2vw);
    height: 5vw;
    margin-top: 3vw;
    background: none;
    border: 0.3vw solid #aabbcc;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 3vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 3vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 3vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 3vw;
}
.Ievade_Poga{
    display: block;
    width: 100%;
    height: 6vw;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: bold;
    color: #494d59;
    background: none;
    border: 0.3vw solid #aabbcc;
    border-radius: 1vw;
    cursor: pointer;
}
.kluda{
    margin-top: 1vw;
    color: #DD0000;
}


@media screen and (min-width: 1100px) { /* ////////////////////////// min-width 1100px /// */
    
    
    
    
/* /////////////////////////////////////////////////////////////////// OVERALL /// */
p{
    font-size: 1.3vw;
    line-height: 1.5vw;
}
h1{
    font-size: 2vw;
    line-height: 3vw;
}
h3{
    font-size: 1.5vw;
    line-height: 2vw;
}
#Atstarpe{
    height: 6vw;
}   
.Smalks_Pilns{
    grid-column: 1/6;
    
}
    
    
    
    
    
    
    
    
.Saturs {
    grid-template-columns: 3fr 2fr;
}
.Saturs_Smalks{
    grid-template-columns: repeat(5,1fr);
}
.Saturs .Vidus{
    grid-column: 1/3;
}
.Attels{
    grid-column: 2/3;
}
.Saturs .blakus{
    grid-column: 1/2;
}
.Saturs .Vidus_Mazais{
    width: 80%;
    grid-column: 1/3;
}
/* /////////////////////////////////////////////////////////////////// Nav /// */
#Nav_Turetajs label {
    display: none;
}

#Nav_Turetajs {
    height: 5vw;
    display: grid;
    grid-template-columns: 1fr 1.6fr 2.6fr 1fr;
}
  
.Logo{
    text-align: left;
    font-size: 1.8vw;
    padding-top: 1.2vw;
    line-height: 2.5vw;
    grid-column: 2 / 3;
}
.Nav{
    position: relative;
    transition: none;
    transform: scale(1,1);
    top: initial;
    left: initial;
    grid-column: 3 / 4;
}

.Nav ul {
    margin-top: 0.7vw;
    display: flex;
    justify-content: flex-end;
}
.Nav ul li {
    height: 3vw;
    margin-left: 4vw;
    padding-bottom: 0;
    padding-top: 0.6vw;
    line-height: 2vw;
    font-size: 1.8vw;
    opacity: 1;
}


/* /////////////////////////////////////////////////////////////////// REGISTER /// */

.Ievade_Ievads{
    width: calc(100% - 1.5vw);
    font-size: 2vw;
    padding-left: 1vw;
    height: 3vw;
    margin-top: 2vw;
    
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 2vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 2vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 2vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 2vw;
}
.Ievade_Poga{
    height: 4vw;
    margin-top: 2vw;
    font-size: 2vw;
}
    
    
}
@media screen and (min-width: 1600px) { /* ////////////////////////// min-width 1600px /// */
    
    
    
    
/* /////////////////////////////////////////////////////////////////// OVERALL /// */
p{
    font-size: 1vw;
    line-height: 1.2vw;
}
h1{
    font-size: 1.6vw;
    line-height: 2vw;
}
h3{
    font-size: 1.2vw;
    line-height: 1.5vw;
}

    
.Saturs .Vidus_Mazais{
    width: 70%;
}
#Atstarpe{
    height: 5vw;
}
/* /////////////////////////////////////////////////////////////////// Nav /// */
   
#Nav_Turetajs {
    height: 4vw;
}
.Logo{
    padding-top: 0.7vw;
    font-size: 1.2vw;
}
.Nav{
    height: 4vw;
}
.Nav a li{
    height: 2vw;
    line-height: 1vw;
    font-size: 1.2vw;
    padding-bottom: 0;
}

    
    
/* /////////////////////////////////////////////////////////////////// REGISTER /// */

.Ievade_Ievads{
    font-size: 1.5vw;
    padding-left: 1vw;
    height: 2.5vw;
    margin-top: 2vw;
    
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.5vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.5vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.5vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1.5vw;
}
.Ievade_Poga{
    height: 3.5vw;
    margin-top: 2vw;
    font-size: 1.5vw;
}  
    
    
    
    
    
    
    
}